*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'century-gothic'; /*a name to be used later*/
    src: url('fonts/CenturyGothic-Italic.ttf'); /*URL to font*/
}
body{
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'century-gothic';
}
.parent {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.parent::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.canvas_block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;

    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-top: 0.3%;
    background-color: skyblue;
}

.btn{
    height:50px;
    width:100%;
    border-radius: 5px;
    color: rgba(189, 130, 244, 0.5);
    background-color: white;
    font-family: 'century-gothic';
    font-weight: bold;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-color: #E0E0E0;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    margin: 15px 0px;
}

.btn-color{
    height:50px;
    width:50px;
    border-radius: 5px;
    color: rgba(189, 130, 244, 0.5);
    background-color: white;
    font-family: 'century-gothic';

    font-weight: bold;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-color: #E0E0E0;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.btn:hover, .btn-color:hover{
    transform: scale(1.1);
}
#btn-erase{
    width: 100px;
}
.titler{
    height:50px;
    width:130px;
    border-radius: 5px;
    color: rgba(189, 130, 244, 0.5);
    background-color: white;
    font-family: 'century-gothic';
    font-weight: bold;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-color: #E0E0E0;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}
#alpha{
    position: relative;
    top: 0px;
    left: 0px;
}
#beta{
    position: relative;
    top: 0px;
    left: 0px;
}
#gamma{
    position: relative;
    top: 0px;
    left: 0px;
}
#iterations{
    position: relative;
    top: 0px;
    left: 0px;
}
#pheromones{
    position: relative;
    top: 0px;
    left: 0px;
}

.slider-container{
    background-color: white;
    padding: 10px 10px 10px 10px;
    width: 170px;
    position: relative;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: right;
    align-items: center;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
 }
 /*Отвечает за функционал track'a*/
 .slider{
    border: 1px solid white;
    width: 100%;
    background: white;
 }
 /*Отвечает за визуал track'a*/
 .slider::-moz-range-track {
    width: 90%;
    height: 5px;
    background: rgba(189, 130, 244, 0.5);
    border: none;
    border-radius: 3px;
 }
 
 .slider::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(189, 130, 244);
 }
 
 .value{
     width: 35px;
     border: none;
     outline: none;
     background-color: rgba(189, 130, 244, 0.5);
     border-radius: 5px;
     color: white;
     font-family: 'century-gothic';
     font-weight: bold;
     text-align: center;
 }
#main-container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5%;
}
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: rgba(189, 130, 244, 0.5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgba(59, 26, 90, 0.5);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(189, 130, 244, 0.5);
    color: white;
}